
/*FONTS*/
@font-face{
  font-family: PTSANSr;
  src: url(PT_Sans-Web-Regular.ttf);
}

@font-face{
  font-family: PTSANSb;
  src: url(PT_Sans-Web-Bold.ttf);
}

@font-face{
  font-family: MECr;
  src: url(MirrorExtraCond-Regular.otf);
}

@font-face{
  font-family: MECsb;
  src: url(MirrorExtraCond-SemiBold.otf);
}

@font-face{
  font-family: MECb;
  src: url(MirrorExtraCond-Bold.otf);
}

body{
  font-family: PTSANSr, sans-serif;
  margin:0px;
  background-image: url("background.jpg");
  background-size: 100%;


}

h1, h2{

}

/* bright red - #E90E0E */
/* black1 - #141414 */
/* black2 - #2C2C2C */
/* grey timestamps (hover) - #979797 */
/* grey light text - #E0E0E0 */
/* grey light background - #F1F1F1 */

/*INTRO*/
.title h1{
  display: inline-block;
  font-family: MECb;
  font-size: 39px;
  color: #E0E0E0 ;
  background: #141414;
  padding: 5px 10px 2px ;
  vertical-align: middle;
  text-align: center; 
}

.navigation a{
  clear: both;
  display: block;
  font-family: MECr;
  font-size: 34px;
  color: #141414;

}

.navigation a:hover{
 cursor: pointer;

}


/* remove spacing between middle columns */
.row.no-gutter [class*='col-']:not(:first-child):not(:last-child) {
  padding-right:1px;
  padding-left:1px;
}
/* remove right padding from first column */
.row.no-gutter [class*='col-']:first-child {
  padding-right:1px;
  padding-left:0;
}
/* remove left padding from first column */
.row.no-gutter [class*='col-']:last-child {
  padding-left:1px;
  padding-right:0;
}




/* only for column content visible */
.col-lg-1>div {background-color:#ddd;}

