<!--  //////////////////////////// PAGE 1 [BOAS] //////////////////////////// -->
<div class="page page--A4" >
	<!-- page card 1 -->
	<div class="section-50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news">O Zé resolveu-te o problema que tinhas no servidor usando magia negra e uma posta de seitan.</p>
			<p class="card__action">Avança 4 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 2 -->
	<div class="section-50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news"></p>
			<p class="card__action"></p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 3 -->
	<div class="section-50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news"></p>
			<p class="card__action"></p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 4 -->
	<div class="section-50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news"></p>
			<p class="card__action"></p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 5 -->
	<div class="section-50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news"></p>
			<p class="card__action"></p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 6 -->
	<div class="section-50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news"></p>
			<p class="card__action"></p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 7 -->
	<div class="section-50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news"></p>
			<p class="card__action"></p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 8 -->
	<div class="section-50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news"></p>
			<p class="card__action"></p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
</div>