<!--  //////////////////////////// PAGE 1 [1-8] //////////////////////////// -->
<div class="page__separtaion" >
	<p>Page 1 [1-8] # Boas Notícias </p>
</div>
<div class="page page--A4" >
	<!-- page card 1 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news"> Conseguiste despachar o pessoal para o beer friday super cedo e ainda não acabaram as migas no arco bar.</p>
			<p class="card__action">Lança o dado outra vez!</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 2 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news">A Beatriz arrumou o escritório todo durante a noite.</p>
			<p class="card__action">Na próxima ronda podes escolher que tipo de desafio queres fazer.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 3 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news">Ganhaste um dos quizes do Rui na Lila!</p>
			<p class="card__action">Vai para a casa imediatamente seguinte à que ocupa a equipa melhor classificada.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 4 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news">O Tavares vendeu a unplugg à EDP por uma quantia 2 vezes superior ao que o Tio Patinhas tem na caixa forte! </p>
			<p class="card__action">Avança 8 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 5 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news u-text-smaller">O Jegundo alargou o CEO espectro de conhecimentos empresariais e é agora CEO da Beirauto em conjunto com a WS.</p>
			<p class="card__action">Lança o dado duas vezes na proxima jogada.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 6 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news">O Zé resolveu-te o problema que tinhas no servidor usando magia negra e uma posta de seitan.</p>
			<p class="card__action">Avança 4 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 7 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news">A Maria João colocou a WS no n1 no HN, product hunt, designer news, 50 subreddits e abertura do telejornal.</p>
			<p class="card__action">Avança 7 casas!</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 8 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news">O Renato reduziu-te para 1/100 o número de linhas que tinhas de CSS.</p>
			<p class="card__action">Relaxa e avança 3 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
</div>

<!--  //////////////////////////// PAGE 2 [9-16] //////////////////////////// -->
<div class="page__separtaion" >
	<p>Page 2 [9-16] # Boas Notícias </p>
</div>
<div class="page page--A4" >
	<!-- page card 1 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news">O Tomás fez design de 3 sites, 4 produtos, 2 infográficos e um carrinho de mão enquanto fomos almoçar.</p>
			<p class="card__action">Todos os adversários recuam 4 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 2 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news u-text-smaller">O Pedro escreveu um script de Ansible capaz de gerir todas as operações da WS em 2016. Férias de 1 ano!</p>
			<p class="card__action">Podes escolher o desafio nas próximas 2 jogadas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 3 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news u-text-smaller">O Diogo Bastos conseguiu um contrato de venda do Qold com a Super Bock. Para além de sermos milionários, temos agora finos à borla para o resto da vida.</p>
			<p class="card__action">Lança o dado outra vez!</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 4 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news">A Marta fez cupcakes de nutella e tu conseguiste apanhar um dos grandes!</p>
			<p class="card__action">Avança 2 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 5 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news">O Jesus voltou a implementar um projecto num só dia! </p>
			<p class="card__action">Troca de posição com a equipa que vai mais à frente.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 6 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news">A Alexandra acabou com a crise dos refugiados, ou pelo menos ajudou!</p>
			<p class="card__action">Guarda esta carta - podes usá-la para obrigar uma equipa a repetir um desafio.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 7 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news u-text-smaller">O Samuel foi promovido e o trabalho dele agora consiste em farejar o 4chan por mini-vídeos parvos para entusiasmar toda a WS.</p>
			<p class="card__action">Rola o dado as equipas recuam o número de casas que sair.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 8 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news u-text-smaller">O Barbosa organizou um evento e toda a gente disse se podia ir ou não no próprio dia!</p>
			<p class="card__action">Guarda esta carta, quando falhares um desafio podes usá-la para o repetir (1x)</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
</div>

<!--  //////////////////////////// PAGE 3 [17-24] //////////////////////////// -->
<div class="page__separtaion" >
	<p>Page 3 [17-24] # Boas Notícias</p>
</div>
<div class="page page--A4" >
	<!-- page card 1 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news">O Ricardo chegou mais cedo ao escritório e como não viu ninguém desatou a fazer pizzas para toda a gente!</p>
			<p class="card__action">Avança 3 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 2 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news">Um grupo de investigadores concluíu que o mundo não é tão merda como o Gonçalo Louzada o pinta.</p>
			<p class="card__action">Avança 7 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 3 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news">O Daniel é cabeça de cartaz no primeiro grande festival de musica da Rua Pedro Nunes, WhiteElectroStock.</p>
			<p class="card__action">Joga outra vez!</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 4 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news u-text-smaller">O Luis equipou o Qold com sensor de movimento, humidade, estacionamento, massajador, TV cabo com 90 canais e uma algália.</p>
			<p class="card__action">Avança 4 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 5 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news u-text-smallest">O Valério escreveu software ultra seguro para proteger os dados da WS! [o único defeito é que nós também não conseguimos aceder]</p>
			<p class="card__action u-text-smallest">Lança dois dados: as equipas adversárias recuam o valor maior de casas, tu avanças o número menor.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 6 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news">O Nuno convidou-te para uma estadia com ele no Brasil, vais poder trabalhar em tronco nu o dia todo!</p>
			<p class="card__action">Avança 3 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 2.0</span>
			</div>
		</div>
	</div>
	<!-- page card 7 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news u-text-smallest">O Nuno Lopes ensinou-te a dançar e agora fazes um figurão no NK quando começa o Taxi.</p>
			<p class="card__action">Avança 2 casas, todas as equipas adversárias recuam 4.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 2.0</span>
			</div>
		</div>
	</div>
	<!-- page card 8 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news">O Graça arranja bilhetes grátis para todos os eventos do NEI ou da jK dos próximos anos.</p>
			<p class="card__action">Lança o dado outra vez!</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 2.0</span>
			</div>
		</div>
	</div>
</div>

<!--  //////////////////////////// PAGE 4 [25-32] //////////////////////////// -->
<div class="page__separtaion" >
	<p>Page 4 [25-32] # Boas Noticias </p>
</div>
<div class="page page--A4" >
	<!-- page card 1 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news">O Chari fez o site da WS tão responsivo que há gente a consulta-lo em nokias dos velhinhos.</p>
			<p class="card__action">Avança 2 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 2.0</span>
			</div>
		</div>
	</div>
	<!-- page card 2 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news">A Mariana Cerveira desenhou um icon novo para o shrinq e agora a malta até responde.</p>
			<p class="card__action">Avança 3 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 2.0</span>
			</div>
		</div>
	</div>
	<!-- page card 3 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news">O João Cerveira teve 10 exames na última semana e passou a todos.</p>
			<p class="card__action">Avança 3 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 2.0</span>
			</div>
		</div>
	</div>
	<!-- page card 4 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news u-text-smallest">O Laginha instalou o soundy nos teus sapatos. Tens agora um andar avant garde com cons variados que vão do careless whisper a peidinhos. </p>
			<p class="card__action">Avança 4 casas ao som deles!</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 2.0</span>
			</div>
		</div>
	</div>
	<!-- page card 5 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news">O Mamede vendeu o qold à unplugg e a unplugg ao qold. Chove dinheiro.</p>
			<p class="card__action">Lança duas vezes o dado na próxima jogada!</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 2.0</span>
			</div>
		</div>
	</div>
	<!-- page card 6 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news">Os Meet your Heights vão finalmente lançar um original, a vida vale outra vez a pena!</p>
			<p class="card__action">Avança 5 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 2.0</span>
			</div>
		</div>
	</div>
	<!-- page card 7 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Boas Notícias!</p>
			<p class="card__news u-text-smaller">O IPN deixou-nos por um escorrega e escadas de pirata para sirmos e entrarmos pela varanda! yeeeeeeeiieeeeee!</p>
			<p class="card__action">Avança 5 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 2.0</span>
			</div>
		</div>
	</div>
	<!-- page card 8 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más Notícias!</p>
			<p class="card__news u-text-smaller">Encontraste o verdadeiro amor da tua vida na 2ª Liga, agora vais ter de aturar o Bastos a atirar-te isso à cara o resto dos teus dias na WS.</p>
			<p class="card__action">Recua 2 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 2.0</span>
			</div>
		</div>
	</div>
</div>

<!--  //////////////////////////// PAGE 5 [33-40] //////////////////////////// -->
<div class="page__separtaion" >
	<p>Page 5 [33-40] # Más Noticias </p>
</div>
<div class="page page--A4" >
	<!-- page card 1 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news"> Decidiste ir para o office 2ª de manhã e esqueceste-te dos headphones em casa, vais ficar à conversa com a D. Manuela.</p>
			<p class="card__action">Não jogas na próxima ronda.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 2 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news">Disseste que gostavas de ar livre em frente à Beatriz e ela agora vai-te contar tudo sobre defecar numa latrina.</p>
			<p class="card__action">Volta para a casa nº5</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 3 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news">O Rui tirou-te uma fotografia mas ficou desfocada.</p>
			<p class="card__action">Recua 3 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 4 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news">O Tavares fez uma piada inapropriada no trabalho e agora tens de viver com isso para sempre.</p>
			<p class="card__action">Recua 10 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 5 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news u-text-smaller">O Jegundo teve aulas de projecção de voz e agora ouvimos perfeitamente o que ele diz. Metade das coisas eram afinal coisas que estavamos a fazer miseravelmente.</p>
			<p class="card__action">Ficas 2 rondas sem jogar.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 6 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news">O Zé apanhou-te ao almoço e agora vais perder o resto da tarde à espera que ele acabe de comer.</p>
			<p class="card__action">Não jogas na próxima ronda.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 7 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news">O Renato foi pintar as paredes do escritório à noite e cagou-te a mesa com tinta!</p>
			<p class="card__action">Recua 2 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 8 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news u-text-smaller">Tens 4 inquéritos em atrasos e a Maria João a morder-te os calcanhares por causa disso.</p>
			<p class="card__action">Na próxima ronda tens de ultrapassar 2 desafios (em vez de um) na mesma casa.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
</div>

<!--  //////////////////////////// PAGE 6 [41-48] //////////////////////////// -->
<div class="page__separtaion" >
	<p>Page 6 [41-48] # Más Noticias </p>
</div>
<div class="page page--A4" >
	<!-- page card 1 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news">O Lucas lesionou-se e não poderá ajudar a WS na próxima Liga IPN.</p>
			<p class="card__action">Volta para a casa onde estavas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 2 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news u-text-smaller">O Tomás fez design de 3 sites, 4 produtos, 2 infográficos e um carrinho de mão enquanto fomos almoçar, estamos todos despedidos.</p>
			<p class="card__action">Todos os adversários avançam 4 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 3 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news u-text-smaller">Pedro escreveu um script de Ansible que automatizava tanta coisa que se tornou consciente e escravizou a humanidade. </p>
			<p class="card__action">Reflecte na tua condição de escravo enquanto recuas 9 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 4 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news">O Diogo Bastos foi para uma snow trip e envolveu-se numa luta de karate com o yeti.</p>
			<p class="card__action">Ganhou o yeti e tu recuas 2 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 5 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news">Tal como a Marta, tens frequência para a semana.</p>
			<p class="card__action">Rola o dado e recua o número de casas indicado.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 6 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news u-text-smaller">O plano de Alexandre de trabalhar só um dia por semana com 24 horas falhou porque à 23ª hora apeteceu muito urinar.</p>
			<p class="card__action">Troca de posição com a equipa que vai mais atrás.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 7 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news">Tens de instalar o Rails no computador da Alexandra.</p>
			<p class="card__action">Não jogas na próxima ronda.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 8 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news">O Paul ligou a dizer que quer o Samuel mais um ano no Cahootsy.</p>
			<p class="card__action">Volta à casa de partida!</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
</div>

<!--  //////////////////////////// PAGE 7 [49-56] //////////////////////////// -->
<div class="page__separtaion" >
	<p>Page 7 [49-56] # Más Noticias </p>
</div>
<div class="page page--A4" >
	<!-- page card 1 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news u-text-smaller">O Barbosa entrou num esquema de treinos deca-diários no Holmes e já não tem tempo para trabalhar.</p>
			<p class="card__action u-text-smaller">Recua o nº de casas equivalente ao nº de anos (sum) que a tua equipa tem na WS.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 2 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news">Eras o amigo secreto do Ricardo e a prenda dele foi uma daquelas bactérias que ele tem.</p>
			<p class="card__action">2 meses nos HUC e volta para a casa número 10.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 3 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news">Um grupo de investigadores concluíu que o mundo é de facto tão merda como o Gonçalo Louzada o pinta.</p>
			<p class="card__action">Recua 7 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 4 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news u-text-smallest">O Daniel vendeu os dados que andava a registar à NSA. É provavel que já tenham substituido alguns de nós por humanoides programados para replicar com exactidão os nossos habitos.</p>
			<p class="card__action u-text-smallest">Fica quieto nesta casa 2 jogadas para ninguém desconfiar.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 5 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news u-text-smaller">O Qold agora só funciona dentro das limites da cidade de S Pedro do Sul. O resonsável ainda se encontra a monte.</p>
			<p class="card__action u-text-smaller">Volta para a casa imediatamente anterior à que ocupa a última equipa.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 6 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news u-text-smallest">O Valério adquiriu a nacionalidade do principado da pontinha e obriga toda a gente da WS a trata-lo por duque da pontinha.</p>
			<p class="card__action u-text-smallest">Recua até à posição do adversário mais próximo.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 1.0</span>
			</div>
		</div>
	</div>
	<!-- page card 7 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news u-text-smaller">O Nuno Silva juntou-se a uma tribo na amazónia e terás de suportar o trabalho que ele deixou nos 10 projectos onde ele estava.</p>
			<p class="card__action u-text-smaller">Tens de fazer 2 desafios na próxima ronda.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 2.0</span>
			</div>
		</div>
	</div>
	<!-- page card 8 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news u-text-smaller">O Nuno Lopes convidou-te para uma aula de dança mas torceste os dois pés no primeiro passo porque és irremediavelmente desajeitado.</p>
			<p class="card__action">Recua 2 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 2.0</span>
			</div>
		</div>
	</div>
</div>

<!--  //////////////////////////// PAGE 8 [57-64] //////////////////////////// -->
<div class="page__separtaion" >
	<p>Page 8 [57-64] # Más Noticias </p>
</div>
<div class="page page--A4" >
	<!-- page card 1 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news">O Graça combinou um Laser Tag e tu ficaste preso no labirinto escuro até alguém do dia seguinte dar contigo.</p>
			<p class="card__action">Ficas uma ronda sem jogar.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 2.0</span>
			</div>
		</div>
	</div>
	<!-- page card 2 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news">O Chari colocou um estaer egg no site da whitesmith que muda a tua cara para o emoji do cocó.</p>
			<p class="card__action">Recua 3 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 2.0</span>
			</div>
		</div>
	</div>
	<!-- page card 3 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news u-text-smallest">A Mariana Cerveira fez um design vanguardista para o Hawkpost mas o Valério não curte porque não encaixa bem no seu desktop linux dos anos 90.</p>
			<p class="card__action u-text-smallest">Recua até à casa do adversário em ultimo lugar.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 2.0</span>
			</div>
		</div>
	</div>
	<!-- page card 4 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news">O João Cerveira pediu para lhe reverem coisas da tese e ninguém ligou. </p>
			<p class="card__action">Recua 4 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 2.0</span>
			</div>
		</div>
	</div>
	<!-- page card 5 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news">O Laginha olhou para o design da API que implementaste e benzeu-se de horror.</p>
			<p class="card__action">Recua 2 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 2.0</span>
			</div>
		</div>
	</div>
	<!-- page card 6 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news u-text-smaller">O Mamede mandou uma piada das dele e os senhores do IPN ouviram. Vamos sair do edificio para a semana.</p>
			<p class="card__action u-text-smaller">Põe o teu agrafador no caixote de cartão e recua 5 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 2.0</span>
			</div>
		</div>
	</div>
	<!-- page card 7 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news">O arco bar mudou de cozinheiro e vais ter de esperar 2 horas pelo prego no prato.</p>
			<p class="card__action">Recua 2 casas.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 2.0</span>
			</div>
		</div>
	</div>
	<!-- page card 8 -->
	<div class="page__section--50">
		<div class="card">
			<p class="card__type">Más notícias . . .</p>
			<p class="card__news u-text-smallest">O Duende das canecas apareceu durante a noite e lavou a loiça. Já não vais perder aqueles 30 segundos preciosos do teu dia a lavar a tua própria caneca com uma colónia de fungos.</p>
			<p class="card__action u-text-smallest">Recua 4 casas, para aprenderes a não ser preguiçoso.</p>
			<div class="card__footer">
				<img  src="./assets/images/julio.png"></img>
				<span>jogo do julio 2.0</span>
			</div>
		</div>
	</div>
</div>
